/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

html {
  font-size: calc(112.5% + 2 * (100vw - 600px) / 400);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Cardinal Fruit";
}

.OpenMenuButton {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  word-spacing: 140%;
  letter-spacing: 4px;
}

.DrawerMenu {
  position: fixed;
  z-index: 99;
  width: 50vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  transition: transform 0.69s linear;
  display: grid;
}

.DrawerMenu.rsvp {
  transform: translateX(-100%);
}

.DrawerMenu.info {
  transform: translateX(200%);
}

@media (min-width: 30em) {
  .DrawerMenu {
    grid-template-columns: auto 1fr;
  }
}

[data-menu]:checked + .DrawerMenu.rsvp {
  transform: translateX(0);
}

[data-menu]:checked + .DrawerMenu.info {
  transform: translateX(100%);
}

.Menu {
  display: block;
  flex-flow: column wrap;
  color: #fff;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  contain: content;
  grid-area: "MENU";
  background-color: rebeccapurple;
  box-sizing: border-box;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 30em) {
  .Menu {
    min-width: 50vw;
  }
}

[data-menu]:checked + .DrawerMenu .Menu {
  transform: none;
  opacity: 1;
  transition-delay: 300ms;
}

.Menu a {
  text-decoration: none;
  color: #ffffff80;
  display: block;
  padding: 16px 0;
}

.Menu a:hover {
  color: #69f0ae;
}

.Menu > * + * {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.MenuOverlay {
  display: block;
  grid-area: "OVERLAY";
}

[data-menu]:not(:checked) + .DrawerMenu .MenuOverlay {
  pointer-events: none;
}
